.U {
  &--full-width {
    width: 100%;
  }
  &--margin-auto {
    margin: auto;
  }
  &--unset-float {
    float: unset;
  }
  &--color-orange {
    color: $orange;
  }
  &--dull-if-null {
    color: #2e2e2e;
  }
}
