$linkStates: '&:hover, &:active, &:focus';

// COLOUR
$red-dark: #b10000;
$red: tomato;
$green: limegreen;
$orange: #eb9e05;

// PLACHOLDERS
%flex {

  display: flex;
  flex-wrap: wrap;

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--center {
    text-align: center;

    &--main {
      @extend %flex;
      justify-content: center;
    }

    &--cross {
      @extend %flex;
      align-content: center;
      align-items: center;
    }

    @extend %flex;
    @extend %flex--center--main;
    @extend %flex--center--cross;
  }

}
%reset {

  &--button {
    outline: none;
    border: none;
    cursor: pointer;
  }
}
