@import './vars';
@import './utilities';
@import './overrides/elementui';

.cursor-not-allowed {
  cursor: not-allowed;
}

.required::after {
  content: "*";
  color: $red-dark;
  padding-left: 0.25em;
}

.rules {
  text-align: right;
  display: block;
  font-size: 0.85rem;
  color: $red-dark;
  padding: 0.25em;
}

::selection {
  background: transparentize($orange, 0.25);
  color: white;
}
