.el-button,
.el-button--warning.is-plain {
  background: none;
  background-color: none;
  border-color: #eb9e05;
  color: #eb9e05;
  &:hover, &:active, &:focus {
    color: #444;
  }
  &.remove, &.add {
    color: white;
    font-weight: 600;
    border-color: #eb9e05;
    &:active, &:focus {
      background: none;
      border-color: #eb9e05;
    }
  }
  &.remove {
    &:hover {
      $x: tomato;
      background-color: $x;
      border-color: $x;
    }
  }
  &.add {
    &:hover {
      $x: limegreen;
      background-color: $x;
      border-color: $x;
    }
  }
  &.is-disabled {
    background: #222;
    color: #444;
    border-color: #3c3c3c;
    &:hover, &:active, &:focus {
      background: #222;
      color: #444;
      border-color: #3c3c3c;
    }
  }
}

.el-input {
  &.centered {
    .el-input__inner {
      text-align: center;
    }
  }
  .el-input__inner {
    background: rgba(0,0,0,0.75);
    border-color: #3c3c3c;
    border-radius: 0;
    color: #eb9e05;

    &:hover, &:focus {
      border-color: #eb9e05;
    }
  }
}

.el-button-group.joint-input {
  .el-button {
    border-color: #3c3c3c;
    &:first-child {
      border-radius: 0;
      border-left: 0;
    }
  }
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.required::after {
  content: "*";
  color: #b10000;
  padding-left: 0.25em;
}

.rules {
  text-align: right;
  display: block;
  font-size: 0.85rem;
  color: #b10000;
  padding: 0.25em;
}